<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"/></head>
<body>
	<!--CONFIRM MODAL-->
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal" th:fragment="modal">
        <div class="modal-dialog" role="document" style="background: red;">
            <div class="modal-content" style="background:red;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title">Atenção</h4>
                </div>
                <div class="modal-body">
                    <p>Tem Certeza que deseja Excluir este cadastro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                    <button id="ok_confirm" type="button" class="btn btn-primary">Sim</button>
                </div>
            </div>    <!-- /.modal-content -->
        </div>  <!-- /.modal-dialog -->
    </div> <!-- /.modal -->
</body>
</html>	